<div class="page-header">
	<h1>Help page</h1>
</div>
<div class="row">
	<div class="span3" id="keywords">
		<p>Drag me around</p>
		<p>Also drag me around</p>
	</div>
	<div id="droppable" class="span3 ui-widget-header">
		<p class="placeholder">Drop here</p>
	</div>
</div>
