<div class="page-header">
	<h1>Help page</h1>
</div>
<div class="row">
	<div class="span3">
		<h5>Keywords in search</h5>
		<ul id="sortable1" class="connectedSortable">
			<li class="ui-state-default">Drag me around</li>
			<li class="ui-state-default">Also drag me around</li>
		</ul>
	</div>
	<div class="span3">
		<h5>Available keywords</h5>
		<ul id="sortable2" class="connectedSortable">
			<li class="ui-state-default">Drop here</li>
		</ul>
	</div>
	<div class="span3">		
		<h5>Blacklisted keywords</h5>
		<ul id="sortable3" class="connectedSortable">
			<li class="ui-state-default">Drop here</li>
		</ul>
	</div>	
</div>
