<% provide(:title, current_user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @current_user.name %>
			</h1>
		</section>
	</aside>
	<div class="span4">
		<% if @current_user.searches.any? %>
			<h3>Searches (<%= @current_user.searches.count %>)</h3>
			<ol class="searches"
				<%= render @searches %>
			</ol>
		<% end %>
	</div>
	<div class="span4 offset4">
		<br>
		<h3>Create new search</h3>
		<%= render 'shared/search_form' %>
	</div>

</div>