<%= form_for(@search) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="span5 offset3">
		<%= f.text_field :query, placeholder: "Enter new search term..." %>
		<%= f.submit "Create", class: "btn btn-large btn-primary" %>
	</div>
<% end %>