<% if @bang.nil? %>
	<ul class="unstyled">
		<% @response.facets.each do |facet| %>
			<% facet.items.each do |item| %>
				<%= item.value unless @stopwords.include?("#{item.value.to_s.gsub(/\W/, "")}") %>
				<li>
			<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<h1>Search failed</h1>
	<h3>
		<% @bang.to_yaml if Rails.env.development? %>
	</h3>
<% end %>