<li>
	<span class="query"><%= search.name %></span>
	<span class="timestamp">
		Created <%= time_ago_in_words(search.created_at) %> ago.
	</span>
	<br>
	<% if current_user?(search.user) %>
		<%= link_to "Edit", edit_search_path(search), method: :get %>
		<%= link_to "Delete", search, method: :delete, confirm: "Are you sure?" %>
	<% end %>
</li>
