<% provide(:title, 'Edit search') %>
<div class="row">
	<div class="page-header">
		<h1>Update your search</h1>
	</div>
	<h3>Search: <%= @search.name %></h3>
	<button id="search_edit_save" class="btn btn-primary btn-block">Update search</button>
</div>

<div class="row">
	<div class="span3">
		<h5>Available keywords</h5>
		<ul id="keywords_available" class="connectedSortable">
			<% @recommendations.each do |item| %>
				<li class='keyword-available ui-state-default'><%= item.capitalize %></li>
			<% end %>	
		</ul>
	</div>
	<div class="span3">
		<h5>Keywords in search</h5>
		<input type="text" class="input-small" placeholder="Enter custom term...">
		<ul id="keywords_in" class="connectedSortable">
			<% @search.terms.each do |term| %>
				<%= "<li id='#{term.id}' class='keyword-in ui-state-default'>#{term.keyword.capitalize}</li>".html_safe unless term.keyword[0]=="-" %>
			<% end %>
		</ul>
	</div>
	<div class="span3">		
		<h5>Blacklisted keywords</h5>
		<ul id="keywords_blacklist" class="connectedSortable">
			<% @search.terms.each do |term| %>
				<%= "<li id='#{term.id}' class='keyword-blacklisted ui-state-default'>#{term.keyword[1..-1].capitalize}</li>".html_safe if term.keyword[0]=="-" %>
			<% end %>
		</ul>
	</div>	
	<div class="span3">		
		<h5>Keyword bin</h5>
		<ul id="keywords_bin" class="connectedSortable"></ul>
	</div>	
</div>
