<% provide(:title, 'View queries') %>
<h1>Saved queries</h1>

<ul class="users">
	<% @searches.each do |search| %>
		<li>
			<h3>Search name: <%= search.query %></h3>
			<br>
			<% search.terms.each do |term| %>
				<%= term.keyword %>
				<%= term.weight %>
				<br>
			<% end %>
		<li>
	<% end %>
</ul>
