<% provide(:title, 'Search page') %>
<h1>Search</h1>

<div class="row">
	<div class="span6 offset0">
		<%= form_tag searches_path, method: :get, class: 'form-horizontal' do %>
			<%= text_field_tag :q1_term, params[:q1_term] %>
			<%= text_field_tag :q1_weight, params[:q1_weight] %>
			<%= submit_tag "Search now", class: "btn btn-large btn-primary", name: :nil %>
		<% end %>
	</div>
</div>
