/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */


#draggable { width: 150px; height: 150px; padding: 0.5em; }
 #keywords_in, #keywords_available, #keywords_blacklist, #keywords_bin { 
 	list-style-type: none; 
 	margin: 0; 
 	float: left; 
 	margin-right: 10px; 
 	background: #eee; 
 	padding: 5px; 
 	width: 170px;}
#keywords_in li, #keywords_available li, #keywords_blacklist li, #keywords_bin li { margin: 5px; padding: 5px; font-size: 1.0em; width: 150px; }



