<footer class="footer">
	<div class="row-fluid">
		<div class="span9">
			<small>
			The music discovery engine
			</small>
		</div>
		<div class="span3">
			<small class="pull-right"><%= link_to "About", about_path %> | <%= link_to "Contact", contact_path %> | <a href="http://news.railstutorial.org/">News</a></small>
		</div>
	</div>
</footer>